/* Estilos para o fundo com foguetes */
@keyframes rocket-float {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -800px;
    }
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    background-color: #FF662B;
    background-image: url("rocket-pattern.svg");
    background-repeat: repeat;
    background-size: 800px 800px;
    animation: rocket-float 40s linear infinite;
} 